.login-page {

  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/bg.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .page-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    padding: 12px 24px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    .logo {
      margin-top: 8px; // 图标位置修正
      margin-right: 16px;
      font-size: 50px;
      line-height: 1em;
    }
  }
  .page-form {
    width: 360px;
    margin-bottom: 40px;
    .form-button {
      margin-top: 40px;
      font-size: 16px;
    }
  }
  .form-field {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    
    .field-label {
      margin-bottom: 0;
      width: 70px;
      // font-size: 16px;
    }
    .field-control {
      flex: 1;
    }
  }
}