@import "../variables";

.tz-action {
  color: $color-primary;
  cursor: pointer;

  &:hover {
    color: $color-primary-dark;
  }

  &.type-danger {
    color: $color-danger;

    &:hover {
      color: $color-danger-dark;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form-alert {
  display: inline-block;
  margin-top: 4px;
  position: relative;
  background-color: $color-danger;
  color: #fff;
  font-size: 12px;
  line-height: 1em;
  padding: 5px 0.75em;
  border-radius: 3px;

  &.position-absolute {
    position: absolute;
  }
}
