.test-flex-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  .c1 {
    width: 50px;
    order: 1;
  } 
  .c2 {
    flex: 1;
    order: 2;
  }
  .c3 {
    width: 50px;
    order: 3;
  }
}