@import '../../commons/styles/variables.scss';

.pattern-input {
  
  .ant-input {
    display: block;
  }

  .verify-input {
    display: flex;
    align-items: center;
    margin-top: 8px;
    .input-wrap {
      margin-right: 12px;
      flex: 1;
    }
    &.status-success {
      .ant-input {
        border-color: $color-primary;
      }
    }
    &.status-failure {
      .ant-input {
        border-color: $color-danger;
      }
    }
  }
}