.form-modal {
  .form-field {
    margin-top: 24px;
    &:first-child {
      margin-top: 0;
    }
    .field-label {
      margin-bottom: 12px;
    }
    &.type-inline {
      display: flex;
      align-items: center;
      .field-label {
        margin-bottom: 0;
      }
      .field-control {
        flex: 1;
      }
    }
  }
}