@import '../../commons/styles/variables.scss';

$side-width: 250px;
$side-collapsed-width: 80px;

.basic-layout {
  width: 100%;
  min-height: 100%;
  padding-left: $side-width;
  padding-top: 80px;
  background-color: $color-bg;

  &.menu-collapsed {
    padding-left: $side-collapsed-width;
    .layout-head {
      left: $side-collapsed-width;
    }
    .layout-side {
      width: $side-collapsed-width;
      .side-head {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        .logo {
          margin-right: 0;
        }
        .title {
          display: none;
        }
      }
    }
  }
  
  .layout-side {
    transition: width $transition-duration;
    width: $side-width;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #001529;
    z-index: 5;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    .side-head {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 12px 24px;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      overflow: hidden;
      &:hover {
        color: $color-primary;
      }
      .logo {
        margin-top: 6px; // 图标位置修正
        margin-right: 16px;
        font-size: 40px;
        line-height: 1em;
      }
      .title {
        word-break: keep-all;
      }
    }
  }
  .layout-head {
    transition: all $transition-duration;
    position: fixed;
    top: 0;
    right: 0;
    left: $side-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 32px;
    background: #fff;
    z-index: 3;
    box-shadow: $box-shadow-3;
    .head-user {
      display: flex;
      align-items: center;
      cursor: pointer;
      .username {
        font-size: 16px;
      }
      .user-avatar {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 12px;
      }
    }
  }
  .layout-nav {
    margin-bottom: 12px;
  }
  .layout-body {
    padding: 0 32px 32px;
  }
  .layout-inner {
    background-color: #fff;
    box-shadow: $box-shadow-4;
    padding: 16px;
  }
}