@import '../../commons/styles/variables.scss';

.basic-layout {
  width: 100%;
  height: 100%;
  padding-left: 250px;
  background-color: $color-bg;

  // padding-top: 80px;
  
  .layout-side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
  }
  .layout-head {
    background-color: #fff;
    top: 0;
    right: 0;
    left: 250px;
  }
  .layout-nav {
    margin-bottom: 12px;
  }
  .layout-body {
    padding: 32px;
    // height: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
  }
  .layout-inner {
    background-color: #fff;
    box-shadow: $box-shadow-4;
    padding: 16px;
  }
}